name = "maratongue"
workers_dev = true
compatibility_date = "2022–10–17"
main = "./.output/server/index.mjs"
node_compat = true

[site]
bucket = "./.output/public"

[dev]
port = 8787

[vars]
TURNSTILE_SECRET_KEY = ""
GOOGLE_CLIENT_ID = ""
GOOGLE_CLIENT_SECRET = ""
GEMINI_API_KEY = ""
STRIPE_SECRET_KEY = ""
STRIPE_ENDPOINT_SECRET = ""
GCLOUD_ACCESS_TOKEN = ""

[[d1_databases]]
binding = "DB"
database_name = "maratongue"
database_id = ""
migrations_dir = "./src/base/server/db/migrations"