/* reset */

* {
  font-family: 'Noto Sans', sans-serif;
}

body {
  background: #fff;
}

section {
  scroll-margin: 64px;
}

@page {
  margin: 0;
}

html {
  scrollbar-gutter: auto !important;
}

html:has(body.content-overflow-y) {
  scrollbar-gutter: stable !important;
}
