@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fade {
  animation: fade 1s ease-in-out;
}

section {
  scroll-margin: 64px;
}

@page {
  margin: 0;
}

* {
  font-family: 'Noto Sans', sans-serif;
}

.box-shadow-hover:hover {
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.50));
}